@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        @apply bg-main-bg
    }
    #app {
        @apply text-deep-blue min-h-screen text-lg
    }
}
@layer components {
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }
    .game-element {
        @apply hover:ring-2 hover:ring-offset-1 hover:ring-olive-200
    }
    .btn {
        @apply bg-light-light-blue m-1 mt-3 rounded-md p-1 text-lg
    }
    .btn:hover {
        @apply bg-olive-200
    }
    .ineractive-box {
        @apply bg-light-blue text-lg
    }
    .ineractive-box:hover {
        @apply bg-light-light-blue
    }
    .vertical-container {
        @apply flex flex-col items-center justify-center
    }
    .horisontal-container {
        @apply flex items-center justify-center 
    }
    .box {
        @apply rounded-md
    }
    .small-field {
        @apply rounded text-2xl px-1 m-2
    }
    .btn-disabled {
        @apply bg-light-light-blue m-1 mt-3 rounded-md p-1 text-lg
    }
    .border-highlight {
        @apply border-2 border-dark-blue hover:border-deep-blue hover:outline-double outline-1 outline-light-bg
    }
}